# -----------------------
# USC artifacts / outputs
# -----------------------
results/*
!results/bench_loghub_all.json
!results/scoreboard_200k.md

# allow CLP results folder + its json files
!results/clp/
results/clp/*
!results/clp/clp_bench.json
!results/clp/clp_search.json

*.bin
*.usc*
*.uscc
*.usch
*.uscstream
*.log

# -----------------------
# downloaded datasets
# -----------------------
data/

# -----------------------
# python junk
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# -----------------------
# temp / debug scripts
# -----------------------
scripts/debug_*.py
